<!-- <section class="layout-container">
    <form name="changePassword">
        <div>
            <div class="alert alert-success" ng-show="successMessage" ng-bind="successMessage"></div>
            <div class="alert alert-danger" ng-show="errorMessage" ng-bind="errorMessage"></div>
        </div>
        <div class="form-group">
            <label for="password">Old Password:</label>
            <input type="password" placeholder="Enter old password" ng-model="password.oldPassword"
                class="form-control">
        </div>
        <div class="form-group">

            <label for="password">New Password:</label>
            <input type="password" placeholder="Enter new password" ng-model="password.newPassword"
                class="form-control">

        </div>
        <div class="form-group">

            <label for="password">Confirm Password:</label>
            <input type="password" placeholder="Enter confirm password" ng-model="password.confirmPassword"
                class="form-control">

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" ng-click="changePassword()" class="btn btn-success"
                    ng-disabled="requestSent">Change password</button>
            </div>
        </div>
    </form>
</section> -->

<style>
    .table {
        width: 50%;
    }

    .errormessage {
        background-color: red;
        padding: 10px;
        color: #fff;

    }

    .successmessage {
        background-color: green;
        padding: 10px;
        color: #fff;

    }
</style>
<div>
    <h2>Change Password</h2>
    <div class="password">
        <form name="form" class="form-horizontal">

            <table class="">
                <tr>
                    <td>Old Password:</td>
                    <td><input type="password" placeholder="Enter old password" ng-model="password.oldPassword"
                            required="required"></td>
                </tr>
                <tr>
                    <td>New Password:</td>
                    <td><input type="password" placeholder="Enter new password" ng-model="password.newPassword"
                            required="required"></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" placeholder="Enter confirm password" ng-model="password.confirmPassword"
                            required="required"></td>
                </tr>
            </table>

            <div class="errormessage" ng-show="changePasswordErrorMsg" ng-bind="changePasswordErrorMsg"></div>
            <div class="successmessage" ng-show="changePasswordSuccessMsg" ng-bind="changePasswordSuccessMsg"></div>
            <a href class="btn" ng-click="changePassword()" value="Submit">Submit</a>
            <a class="btn" href="/platform/#!/platform/" ng-click="Cancel()" value="Cancel">Cancel</a>


    </div>
</div>
</form>