<!DOCTYPE html>
<html lang="en" ng-app="ResetApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/assets/css/styles.css">
<script src="https://code.angularjs.org/1.6.9/angular.js"></script>
<script type="text/javascript" src="/assets/js/ResetPasswordController.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<title>Reset</title>
<style>
    .bs-example{
        margin: 20px;        
    }
    .errormessage {
      background-color: red;
      padding: 10px;
      color: #fff;
    }

    .successmessage {
      background-color: green;
      padding: 10px;
      color: #fff;
    }
</style>
</head>
<body>
<div class="bs-example" ng-controller="ResetPasswordController">
    <form name="resetpassword">
        <h2>Forget Password</h2>
        <div class="errormessage" ng-show="resetErrorMsg" ng-bind="resetErrorMsg"></div>
        <div class="successmessage" ng-show="resetSuccessMsg" ng-bind="resetSuccessMsg"></div>
        <div class="form-group">
            <label for="newpassword">New password</label>
            <input type="password" class="form-control"  placeholder="New password" ng-model="password.newPassword" required>
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm password</label>
            <input type="password" class="form-control"  placeholder="Confirm password" ng-model="password.confirmPassword" required>
        </div>
        <button type="button" ng-click="resetPassword(password)" class="btn btn-success">Reset Password</button>
       
    </form>
</div>
</body>
</html>    